* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

div {
  /* border: 20px solid black; */
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* img {
  max-width: 100%;
} */

div img {
  max-width: 100%;
}

.create-network {
  width: 400px;
}
