* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: aqua;
}

h1 {
  margin: 20px;
}

div {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div img {
  max-width: 100%;
  margin: 10px;
  margin: 0 auto;
}

.create-network {
  width: 400px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-display: \;;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: underline;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  width: 600px;
  margin-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
